.food-list {
  width: calc(100% - 40px);
  margin: 0 auto;
  display: grid;
  gap: 20px 10px;
  grid-template-columns: 1fr 1fr;
  p {
    font-size: 14px;
    line-height: 1.5;
  }

  li {
    a,
    img {
      width: 100%;
    }
    a {
      display: block;
      &:hover {
        img {
          opacity: 0.8;
        }
      }
    }
    .img {
      position: relative;
      margin-bottom: 8px;
      img {
        transition: opacity 0.2s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .date {
      span:first-of-type {
        margin-right: 8px;
      }
    }
    .name {
      font-weight: bold;
    }
    &.LAWSON {
      .img {
        padding-top: 77%;
      }
      .name {
        color: #076cb9;
      }
    }
    &.FamilyMart {
      .img {
        padding-top: 100%;
      }
      .name {
        color: #00ab4e;
      }
    }
  }
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.MuiPagination-root {
  display: flex;
  justify-content: center;
  &.topPagenation {
    margin-bottom: 20px;
  }
  &.bottomPagenation {
    margin-top: 20px;
  }
}
